
<div class="page-header">

  <%= link_to @trip.name, @trip, class: 'btn btn-default' %>
  <%= link_to edit_trip_stop_path(@trip, @stop), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show stop</h1>
</div>
<div class="d-flex">
<dl class="dl-horizontal">
  <dt>Position:</dt>
  <dd><%= @stop.position %></dd>

  <dt>Address:</dt>
  <dd data-places-target="field"><%= @stop.address %></dd>

  <dt>Latitude:</dt>
  <dd id="show_stop_lat"><%= @stop.latitude %></dd>

  <dt>Longitude:</dt>
  <dd id="show_stop_long"><%= @stop.longitude %></dd>

  <dt>Arrival date:</dt>
  <dd><%= @stop.arrival_date %></dd>

  <dt>Notes:</dt>
  <dd><%= @stop.notes %></dd>

</dl>

 

    



<div class="p-4">

<iframe width="300" height="300" frameborder="0" style="border:0"
src="https://maps.googleapis.com/maps/embed/v1/place?&key=<%=Rails.application.credentials[:google_maps_api_key] %>
  &q=<%= @stop.latitude %>,<%= @stop.longitude %>" allowfullscreen></iframe>

   </div>


