


<div class="row">
  <div class="col-sm-6">
    <h1>Places</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_place_path, class: 'btn btn-primary' do %>
    Add New Place
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Latitude</th>
            <th>Longitude</th>
            
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <%= content_tag :tr, id: dom_id(place), class: dom_class(place) do %>
          
            <td><%= link_to place.name, place %></td>
          

                      <td><%= place.latitude %></td>
                      <td><%= place.longitude %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
